.backgroundDark{
    /*-fx-background-color: #121212 !important;*/
    /*TODO support home background*/
}

.switchDark{
    -fx-opacity: 1 !important;
}

.foregroundDark{
    -fx-background-color: #1e1e1e !important;
    -fx-fill: white !important;
    -fx-text-fill: white !important;
}

.fieldDark{
    -fx-background-color: #6c6c6c !important;
    -fx-text-fill: white !important;
}

.specialFieldDark{
    -fx-control-inner-background: #6c6c6c !important;
    -fx-text-fill: white !important;
}

.textDark{
    -fx-fill: white !important;
    -fx-text-fill: white !important;
}

.tableDark {
    -fx-background-color: #1e1e1e;
    -fx-border-color: #6c6c6c;
    -fx-text-fill: white;
}

.tableDark.table-view{
    -fx-background-color: #6c6c6c;
}

.tableDark.column-header{
    /*-fx-text-fill: white !important;*/
    -fx-border-width: 0;
    -fx-background-color: #d2d2d2;
}